{% extends "base.html" %}
{% block title %}تعديل شحنة{% endblock %}

{% block content %}

<h2 class="text-2xl font-bold mb-6 text-sky-700">تعديل الشحنة</h2>

<div class="bg-white shadow rounded-xl p-6">

    <form method="post">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            {{ form.as_p }}
        </div>

        <div class="text-left mt-6">
            <button class="bg-emerald-600 text-white px-6 py-2 rounded-lg hover:bg-emerald-700">
                حفظ التغييرات
            </button>
        </div>
    </form>

</div>

{% endblock %}
